@CHARSET "UTF-8";

@media screen and (min-width:1200px) {
	
	.container {
		max-width:1040px;
	}
	
}

@media screen and (max-width:1199px) {
	
	

	
	
	
}

@media screen and (min-width:992px)  and (max-width:1199px)  {

	
	
	
	
	
	
	
	
	
	
}

	


@media screen and (min-width:992px) {

	
}



@media screen and (max-width:991px) {
	
	
}



@media screen and (min-width:768px) {
	
	.type2 .divRight p br {
		display:none;
	}
	
	section.invitation .mainContent {
		width:680px;
	}
	
	section.invitation .title {
		width:440px;
	}
	
}


@media screen and (min-width:768px) and (max-width:991px) {
	
	section.includeTitle .imgWrapper {
		width:345px;
	}
	
	section.map .imgWrapper ,  section.result .imgWrapper {
		width:690px;

	}
	
	section.infomation .container .infoSet.type2 {
		padding:30px 15px 0 15px;
		margin:35px 0 20px;
		background:whitesmoke;
	}
	
	.type2 h5 {
		margin-bottom:22.5px;
	}
	.type2 .divLeft {
		width:133px;
	}
	
	.type2 .divContent {
		width:calc(100% - 355px);
	}
	
	.type2 .divRight {
		width:222px;
	}
	
	.type2 div p {
		font-size:15px;
		margin-bottom:12.5px;
	}
	
	section.ceo h2 {
		font-size:22px;
	}
	
	.type2 .divLeft p.date {
		
	}
	
	.type2 .divLeft p.date:last-of-type {
		
	}
	
	
	section.ceo p {
		font-size:15.5px;
	}
	
	section.ceo img.rightDirection {
		width:230px;
	}
	.infoSet p {
		height:50px;
	}
	
	.infoSet span {
	}
	
	
	
}



@media screen and (min-width:768px) and (max-width:1199px) {

}


@media screen and (max-width:767px) {
	
	section.infomation .container .infoSet.type2 {
		padding:30px 15px 0 15px;
		margin:35px 0 20px;
		background:whitesmoke;
	}
	
	.type2 .divContent p {
		height:108px;
		padding-top:18px;
		padding-right:15px;
		box-shadow:0px -1.6px 0px 0px;
	}
	
		.type2 .divContent p:first-of-type {
			line-height:2;
		}
	
	.infoSet p {
			margin-bottom:10px;
	
	}
	
	.type2 .divRight.width767 {
		display:block;	
		width:120px;
	}
	
	.type2 .divRight p br {
	
	}
	
	.type2 .divRight p {
		height:108px;
		padding-top:18px;
		box-shadow:0px -1.6px 0px 0px;
	}
	
	.type2 .divContent {
		width:calc(100% - 125px);
		
	}
	
	.type2 .divRight {
		display:none;
	}
	
	
	.type2 .divLeft {
		display:none;
	}
	
	.buttonWrapper.double {
		margin:45 auto 20;
	}
	
	section.joinform .formLow .rowArticle label , section.result .formLow .rowArticle label  {
		width:120px;
		font-size:15px;
	}
	section.joinform .formLow .rowArticle p , section.result .formLow .rowArticle p {
		width:calc(100% - 120px);
	}
	
	
	section.joinform .formLow .rowArticle p input {
		min-width:initial;
	}
	
	section.joinform .formLow .rowArticle p input.big {
		min-width:initial;
	}
	
	section.joinform .formFloat div p br {
		display:block;
	}
	
	section.joinform .formFloat div h2 br {
		display:block;
	
	}
	
	
	section.joinform .formFloat div h2 {
		font-size:15px;
		height:72px;
	}
	
	section.joinform .formFloat .right h2 {
		line-height:34px;
	}
	section.joinform .formFloat div p {
		font-size:14px;
	}
	
	footer div.footerLeft p {
		font-size:13.5px;
	}
	footer div.footerLeft img {
		width:190px;
	}
	
	section.check .confirm {
		width:100%;
	}
	
	.buttonWrapper {
		width:240px;
	}
	
	.buttonWrapper button {
		font-size:17.5px;
	}
	
	section.map p br , section.result p.mapInfo br , .type1 p.both br {
		display:block;
	}
	
	section.map .imgWrapper ,  section.result .imgWrapper {
		width:100%;
	}
	
	
	section.ceo h2 {
		font-size:23px;
	}
	.infoSet p {
		font-size:14.5px;
	}
	
	.infoSet span {
	}
	
	.infoSet span br {
		display:none;
	}
	
	
	
	p.with767 {
	display:block;
	}
	
	
	section.ceo img.rightDirection {
		width:255px;
	}
	
	section.ceo p span {
		display:none;
	}
	section.ceo p {
		font-size:13px;
		line-height:2.05;
	}
	
		section.ceo p br {
		display:none;
		}
	
	
	section.invitation .title {
	width:345px;
	}
	
	
	
}

@media screen and (min-width:645px) and (max-width:767px) {
	
}

@media screen and (max-width:645px) {

}

@media screen and (min-width:576px) and (max-width:767px) {
	
}

@media screen and (min-width:425px) and (max-width:645px) {
	
}


@media screen and (min-width:505px) and (max-width:767px) {
	
	.type2 .divContent p:first-of-type {
		line-height:2;
	}
	
	.type2 .divContent p:not(:first-of-type){
		line-height:75px;
	}
	
	
	section.includeTitle {
		padding:34px 0;
	}
	
	section.includeTitle .imgWrapper {
		width:300px;
	}
	
	
	
	.consent label > p {
		font-size:15.5px;
	}	
	
	
	.divRight p span {
		font-size:13.5px;
		font-weight:450;
	}
	
	.type2 .divRight p:last-of-type {
		margin-right:0;
		border-right:0;
	}
	
	.type2 .divRight p br {
		display:block;	
	}
		
		.type1 .divLeft {
			float:left;
			width:180px;
			padding:3px 0;
			margin-right:15px;
		}
		
		.type1 .divRight {
			float:left;
			width:calc(100% - 195px);
			min-width:initial;
		}
		
		.type1 .divRight span {
			line-height:30px;
		}
		
		
		
		.infoSet span {
		
		}
		
		.infoSet span br {
		
		}
	
	
}

@media screen and (min-width:505px) {

	
	section.background {
	background:url(../images/background.png) center no-repeat;
	background-size:cover;	
	}
}

@media screen and (max-width:504px) {

	.backgroundWrapper {
		display:block;
	}
	.divRight span {
		font-size:16px;
	}
	
	.type1 .divLeft {
		float:none;
		width:255px;
		margin:0 auto 18.5px;
	}
	
	section.includeTitle {
		padding:28px 0;
	}
	
	section.includeTitle .imgWrapper {
		width:270px;
	}
	
	.consent label > p {
		margin-left:35px;
		font-size:14.5px;
	}
	
	.consent {
		padding:0;	
	}
	
	.labelCheck {
		min-width:initial;
		height:auto;
	}
	
	.labelCheck span {
		font-size:13.5px !important;
	}
	
	p.join {
		padding:0 15px;	
		font-size:14.5px;
	}
	
	p.join br {
		display:block;
	}
	
	section.check .confirm p br {
	display:block;	
}
	
	
	
	section.infomation .container .infoSet.type2:last-of-type {
		margin:0 0 12.5px 0;
	}
	
	
	section.infomation .container .infoSet {
		margin:17px 0 75px 0;
	}
	
	
	section.infomation .container .infoSet {
		padding:10px 0;
	}
	.type1 .divLeft p br {
		
	}
	
	.type1 .divRight {
			float:none;
		text-align:center;
		width: 300PX;
		margin: 0 auto;
		border-radius: 8px;
		padding: 15px 0;
		border: 1.4px solid darkslategrey;	
	}
	
	.type1 .divRight span br {
	display:block;
	}
	
}

@media screen and (max-width:480px) {

	section.invitation .title {
		width:285px !important;
	}

	section.check .confirm .confirmArticle input {
		min-width:initial;
		width:190px;
	}


}

@media screen and (max-width:442px) {

.type2 .divContent p:first-of-type {
	line-height:initial !important;
	
}


}
@media screen and (max-width:424px) {
	.type2 .divContent p:first-of-type {
		line-height:initial;
	}
	
	h2.titleH {
		font-size:22px !important;
	}
	
	.buttonWrapper.double button {
		width:130px;
	}
	
	.buttonWrapper.double {
		width:100%;
	}
}



@media screen and (min-width:375px) and (max-width:424px) {

	section.joinform .formLow .rowArticle p input {
		width:190px;
	}
	
	section.joinform .formLow .rowArticle p {
		padding:8px 0px 8px 16px;
	}
}

@media screen and (min-width:320px) and (max-width:374px) {
		
	section.joinform .formLow .rowArticle p input {
		width:160px;
	}
	
	section.joinform .formLow .rowArticle p {
		padding:8px 0px 8px 16px;
	}
}

@media only screen and (max-height: 1983px) {
	
}









